:root {
  --vp-c-brand-1: #eb80b1;
  --vp-c-brand-2: #d5387d;
  --vp-button-brand-bg: #eb80b1;
  --vp-button-brand-hover-bg: #e05c97;
}

/* 隐藏所有自定义块的标题 */
.vp-doc .custom-block .custom-block-title {
  display: none;
}

.clip.name {
  background: linear-gradient(120deg, #eb80b1 30%, #bd34fe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15), 1px 2px 6px rgba(0, 0, 0, 0.1);
}
